*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f5f7fa;
}

/* HEADER */
header{
    background:#002147;
    padding:15px 40px;
    color:white;
    position:sticky;
    top:0;
    z-index:1000;
}

.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    height:60px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

nav ul li a:hover{
    color:#ff9800;
}

/* HERO */
.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("event1.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.hero h1{
    font-size:50px;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.btn{
    padding:12px 25px;
    background:#ff9800;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

/* SECTION */
.section{
    padding:70px 20px;
    text-align:center;
}

.section h2{
    margin-bottom:40px;
    color:#002147;
}

/* CARDS */
.cards{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:280px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card h3{
    margin:15px 0;
}

.card button{
    margin-bottom:20px;
    padding:8px 15px;
    background:#002147;
    color:white;
    border:none;
    border-radius:5px;
}

/* GALLERY */
.gallery-box{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

.gallery-box img{
    width:300px;
    border-radius:10px;
    transition:0.3s;
}

.gallery-box img:hover{
    transform:scale(1.05);
}

/* CONTACT */
.contact form{
    max-width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact input,
.contact select{
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
}

.contact button{
    padding:10px;
    background:#ff9800;
    color:white;
    border:none;
    border-radius:5px;
}

/* FOOTER */
footer{
    background:#002147;
    color:white;
    padding:20px;
}
